
<h3 style="margin-left:100px;">Users List</h3>
<div class="alert alert-info" style="width:400px;margin-left:100px;" ng-show="users.length == 0">
    No users found
</div>
<table class="table table-bordered table-striped" style="width:450px; margin-left: 100px;" ng-show="users.length > 0">
    <thead>
        <tr>
            <th style="text-align: center; width: 25px;">Id</th>
            <th style="text-align: center;">Person Name</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
        </tr>
    </tbody>
</table>
<!--
<button style="margin-left:100px;" class="btn btn-danger"  ng-show="cars.length > 1" ng-click="removeAllCars()">Remove All Cars</button>-->
